body {
}

input{
    border-color:dodgerblue;
    fill:cornflowerblue;
}

#selections {
    width: 90%;
    min-width: 400px;
    max-width: 700px;
    float:initial;
}

#roomSelect{
    background-color:lightgray;
}

#hotelImageHeader {
    height:50%
}
#hotelRooms {
    width:600px;
}
#checkOut {
    float:right;
}

.leftLabel {
    float:left;
    border-left-width:2px
}
.AlignTable {
    align-items:center;
    text-align:left;
}
.body {
    max-width:1280px;
    min-width:800px;
}
.hotelImage {
    width: 600px;
    vertical-align:top;
    crop:rect(10%, 0px, 10%, 0px)
}
.amenitiesList {
   column-count:2;
   max-width:600px;
}

